
#donanteParticular {
  display: block;
  position: relative;
}

#donanteEmpresa {
  display: none;
  position: relative;
}

#datosDeContacto {
  display: none;
  position: relative;
}

#datosDecisor {
  display: none;
  position: relative;
}

#datosDonacion {
  display: none;
  position: relative;
}

#registroExitoso {
  display: none;
  position: relative;
}

#progressBar{
  width: 1%;
  background-color: #0a0d52;
}

#archivosEmp {
  display: none;
  position: relative;
}

h2{
	font-size: 50px;
}
h3{
	text-align: center;
	padding-top: 10px;
}
h5{
	text-align: center;
	color: black;
}

p{
	color: black;
}

.form-control{
	margin-right: 10px;
}
