h3 {
        background-color: #89D0FF;

    font-size: 27px;
    font-family: Tahoma;
    color: black;
    text-align: left;
}
h4{
     background-color: #89B4FF;
     font-family: Tahoma;
    font-size: 19px;
     color: black;
    text-align: center;
}
h1 {
        text-align: center;
        padding-left: 50px;
        padding-right: 40px;
    background-color: #89B4FF;

}
footer.page-footer {
  margin: 0;
}


article {
    padding: 5px;
    padding-right: 100px;
    padding-left: 50px;
    padding-top: 0px;
}
p {
    padding-right: 10px;
	padding-left: 10px;
	font-family: Tahoma;
	font-size: 15px;
}
body {
  
  background-color:89E4FF;
  
}