h3 {
        background-color: #89D0FF;

    font-size: 27px;
    font-family: Tahoma;
    color: black;
    text-align: left;
}
h4{
     background-color: #89B4FF;
     font-family: Tahoma;
    font-size: 19px;
     color: black;
    text-align: center;
}
h1 {
        text-align: center;
        padding-left: 50px;
        padding-right: 40px;
    background-color: #89B4FF;

}
#navbar {
  background-color: #333; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}
footer.page-footer {
  margin: 0;
}
.navbar-fixed.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
h4.a {
  visibility: visible;
}

h4.b {
  visibility: hidden;
}

article {
    padding: 5px;
    padding-right: 100px;
    padding-left: 50px;
    padding-top: 0px;
            text-align: center;

}
p {
    padding-right: 10px;
	padding-left: 10px;
	font-family: Tahoma;
	font-size: 15px;
}
body {
  
  background-color:89E4FF;
  
 font-size: 16px;
}

body {
  font-size: 16px;
}
body:after {
  content: "SCUBA"; 
  font-size: 15em;  
  color: rgba(52, 166, 214, 0.4);
  z-index: 9999;
 
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
 
}
